@media only screen and (max-width: 600px) {

  .container {
    width: 100%;
    padding: 0;
  }

  .header {
    width: 100%;
  }

  .user-list ul li {
    margin: 1%;
    width: 98% !important;
  }

  .card-component {
    border-radius: 10px;
  }

  .card-img {
    width: 23%;
    margin-right: 2%;
  }

  .card-text {
    width: 75%;
  }

  .profile-image img {
    margin-top: 50px;
    width: 100px;
    height: 100px;
  }
}