:root {
  --primary-: #89ABE3;
  --secondary-: #FCF6F5;
}

.container {
  margin: auto;
  width: 62rem;
  padding: 0 10px 10px;
  background: var(--primary-);
}

.header {
  position: fixed;
  width: 62rem;
  background: var(--secondary-);
}

.content {
  padding-top: 56px;
  border: 2px solid var(--secondary-);
}

.navbar ul li {
  float: left;
  width: 50%;
  font-size: 18px;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -1px 2px var(--primary-);
  background: var(--primary-);
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 0.2s ease;
}

.navbar ul li.active {
  background: var(--secondary-);
}

.navbar ul li a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  color: var(--secondary-);
}

.navbar ul li.active a {
  color: var(--primary-);
}

.profile-nav {
  padding: 15px 0;
  font-size: 18px;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid var(--secondary-);
  border-bottom: 0;
  background: var(--primary-);
  transition: all 0.2s ease;
  color: var(--secondary-);
}

.profile-nav a {
  float: left;
  margin: 0 10px;
  font-size: 20px;
  color: var(--secondary-);
}

.user-list {
  background: var(--secondary-);
}

.user-list li {
  display: block;
  float: left;
  margin: 10px;
}

.card-component {
  padding: 10px;
  border-radius: 10px;
  color: var(--secondary-);
  background: var(--primary-);
  cursor: pointer;
}

.card-component:hover {
  box-shadow: 2px 2px 5px var(--primary-)
}

.card-img {
  float: left;
  width: 38%;
  margin-right: 2%;
}

.card-text {
  float: right;
  width: 60%;
}

.card {
  width: 100%;
}

.card-img img {
  width: 100%;
  border-radius: 50%;
}

.card, .card-text {
  word-break: break-all;
}

.user-profile {
  background: var(--secondary-);
}

.profile-image {
  padding-top: 10px;
  text-align: center;
  background: linear-gradient(to bottom, var(--secondary-), var(--primary-));
}

.profile-image img {
  width: 300px;
  height: 300px;
  border: 5px solid var(--primary-);
  border-radius: 50%;
}

.profile-detail {
  text-align: center;
  padding: 20px;
  color: var(--secondary-);
  background: var(--primary-);
}

.tag {
  font-size: 18px;
  padding-top: 10px;
}

.tag .fa {
  margin-right: 10px;
}

.profile-address table {
  text-align: left;
  width: 80%;
  margin: 10px auto auto;
  font-size: 18px;
}

.profile-address table tr td:first-child {
  text-align: right;
  padding-right: 10px;
}

.profile-address table tr td {
  padding: 5px;
}
